@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700");
@font-face {
  font-family: "Primal Regular";
  src: url("https://res.cloudinary.com/overdrive/raw/upload/v1539056166/fonts/primal-webfont.woff2") format("woff2"), url("https://res.cloudinary.com/overdrive/raw/upload/v1539056165/fonts/primal-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 16px;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: #0c0e27;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

main {
  flex: 1;
}

/*===================================*
01. GENERAL STYLE
*===================================*/
section {
  padding: 100px 0;
}

section:first-child {
  padding-top: 0;
}

a {
  color: white;
  transition: all 0.5s ease;
}
a:hover {
  color: #00e4ff;
  text-decoration: none;
}

.btn-default {
  background: #00e4ff;
}

.btn-gradient {
  background-image: linear-gradient(to right, #00e4ff 0%, #a6c1ee 51%, #fbc2eb 100%);
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  border: 2px solid #00e4ff;
  border-radius: 1.5625em;
  padding: 0.625em 1.5625em;
  font-weight: 500;
  text-transform: uppercase;
}

.btn-gradient:hover {
  background-position: right center;
  color: white;
  border-color: #fbc2eb;
}

.btn-outline {
  transition: 0.5s;
  background-image: linear-gradient(to right, #00e4ff 0%, #a6c1ee 51%, #fbc2eb 100%);
  background-size: 200% auto;
  color: #fff;
  padding: 12px 4px;
  border-radius: 1.6em;
}
.btn-outline:hover {
  background-position: right center;
  color: #fff;
}
.btn-outline span {
  border-radius: 1.6em;
  background: #0c0e27;
  padding: 0.625em 1.5625em;
  font-weight: 500;
  text-transform: uppercase;
}

.bg-gradient {
  background-image: linear-gradient(to right, #00e4ff 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.section-title {
  font-weight: bold;
  font-size: 1.625em;
  margin-bottom: 1.2em;
  padding-bottom: 0.6em;
  position: relative;
  text-align: center;
}
.section-title::before {
  background-color: #fff;
  margin: 0 auto;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  width: 80px;
  box-sizing: border-box;
}

/*===================================*
02. HEADER
*===================================*/
header {
  padding: 25px 65px;
  transition: all 0.4s ease 0s;
}
header.active {
  background: #121833;
}

.navbar {
  padding: 0;
}
.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 1.6em;
  font-weight: 600;
  letter-spacing: 0.05em;
}
.navbar .navbar-brand img {
  max-width: 140px;
  transition: all 0.5s ease;
}

.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
}
.navbar-expand-lg .navbar-nav .nav-item.active a {
  color: #00e4ff;
  border-bottom: 1px solid #00e4ff;
}
.navbar-expand-lg .navbar-nav .nav-item:last-child {
  padding-right: 0;
}
.navbar-expand-lg .navbar-nav .nav-link {
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  transition: all 0.5s ease;
  padding: 15px 0;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #00e4ff;
}

header.nav-fixed {
  padding: 10px 15px;
  background-color: #262d4e;
}
header.nav-fixed .navbar-brand img {
  max-width: 102px;
}

/*===================================*
03. HOME
*===================================*/
#home {
  margin-top: 13em;
}

.badge-default {
  color: white;
  font-size: 1em;
}

.banner-effect {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.list-currency {
  list-style: none;
  margin: 1em 0;
  padding: 0;
}
.list-currency li {
  display: inline-block;
  margin-right: 1em;
}
.list-currency li span {
  margin-left: 0.5em;
}
.list-currency li:last-child {
  margin-right: 0;
}

/*===================================*
04. SERVICES
*===================================*/
.box-wrap {
  background: #121833;
  margin-top: 30px;
  padding: 20px 15px;
  transition: all 0.5s ease 0s;
}
.box-wrap img {
  max-width: 55px;
  display: block;
  margin: 0 auto;
}
.box-wrap h4 {
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.box-wrap p {
  margin: 0;
  text-align: center;
}

/*===================================*
0. FOOTER
*===================================*/
#site-footer .top-footer {
  background: url(http://bestwebcreator.com/cryptocash/demo/assets/images/footer_bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 1.25em 0;
  background-color: #121833;
}
#site-footer .footer-title {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1.25em;
}
#site-footer .footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
#site-footer .footer-list li {
  padding: 0.25em 0;
}
#site-footer .footer-list .li-icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display: none;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
}
#site-footer .footer-list .li-icon {
  margin-right: 10px;
}
#site-footer .newsletter-form {
  position: relative;
}
#site-footer .newsletter-form .input-rounded {
  border-radius: 1.5em;
  border: 0;
  padding: 0.75em 1.25em;
  width: 100%;
  background-color: #fff;
  color: #7a7a7a;
}
#site-footer .newsletter-form .input-rounded:focus {
  outline: none;
}
#site-footer .newsletter-form .btn {
  background-color: #0c0e27;
  padding: 7px 40px;
  position: absolute;
  right: 5px;
  top: 5px;
  height: auto;
  color: #fff;
  border: 0;
  border-radius: 40px;
}
#site-footer .bottom-footer {
  font-size: 0.875em;
  background-color: #0c0e27;
  padding: 1.25em 0;
}
#site-footer .social-item {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
#site-footer .social-item img {
  max-width: 1em;
}
#site-footer p {
  margin: 0;
}
#site-footer ul.footer-menu {
  text-align: right;
  list-style: none;
  margin: 0;
  padding: 0;
}
#site-footer ul.footer-menu li {
  margin-left: 1em;
  display: inline-block;
}
#site-footer ul.footer-menu li:first-child {
  margin-left: 0;
}

/* -------------------------------------------------
  max-width: 1440px
---------------------------------------------------*/
@media only screen and (max-width: 1440px) {
  header {
    padding: 25px 15px;
  }

  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 10px;
  }

  .navbar-expand-lg .nav_btn > li {
    padding: 0;
  }

  header .navbar-nav a {
    font-size: 16px;
  }
}
/* -------------------------------------------------
  max-width: 1199px
---------------------------------------------------*/
@media only screen and (max-width: 1199px) {
  .navbar .navbar-brand {
    font-size: 1.25em;
  }
  .navbar .navbar-brand img {
    max-width: 109px;
  }

  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 5px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 13px;
  }
  .navbar-expand-lg .btn-gradient {
    padding: 10px 20px;
    font-size: 14px;
  }

  .navbar-expand-lg .navbar-nav.nav_btn > li {
    margin-left: 0px;
  }

  .navbar-expand-lg .navbar-nav.nav_btn a.btn {
    padding: 10px 20px;
  }

  .navbar-expand-lg .navbar-nav.nav_btn a {
    font-size: 14px;
    padding: 0px;
  }
}
/* -------------------------------------------------
  min-width: 991px
---------------------------------------------------*/
@media only screen and (min-width: 991px) {
  .navbar-expand-lg .navbar-nav li:hover > .dropdown-menu {
    display: block;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-menu {
    display: none;
    left: 100%;
    top: 0;
  }

  .navbar-nav .dropdown-menu {
    display: none;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu li:hover > a {
    background-color: #3231a8;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-toggler {
    padding-right: 35px;
  }

  .dropdown-menu .dropdown-toggler::after {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
/* -------------------------------------------------
  max-width: 991px
---------------------------------------------------*/
@media only screen and (max-width: 991px) {
  #site-header {
    padding-left: 15px;
    padding-right: 15px;
    background: #262d4e;
  }

  header.fixed-top {
    position: absolute;
  }

  .navbar .navbar-brand {
    font-size: 1.6em;
  }
  .navbar .navbar-brand img {
    max-width: 140px;
  }

  .navbar-toggler {
    border: 0 none;
    font-size: 24px;
  }

  .navbar-nav {
    -webkit-animation-name: none;
    animation-name: none;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    float: left;
    text-align: center;
    width: 50%;
  }

  .navbar-nav:last-child {
    border: 0;
  }

  .navbar-expand-lg .navbar-nav .nav-item {
    -webkit-animation-name: none;
    animation-name: none;
    padding: 0;
  }

  .navbar-expand-lg .navbar-nav.nav_btn > li {
    padding-bottom: 10px;
  }

  .navbar-nav .dropdown-menu {
    border: 0 none;
    text-align: center;
  }

  .navbar-nav .dropdown-menu .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .navbar-expand-lg .navbar-nav .nav-item .nav-link.active::before {
    bottom: 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    display: inline-block;
    padding: 10px 0;
    text-align: center;
  }

  header {
    height: auto;
    padding: 10px 0;
  }

  header.nav-fixed {
    height: auto;
  }
}
/* -------------------------------------------------
  max-width: 767px
---------------------------------------------------*/
@media only screen and (max-width: 767px) {
  #site-footer .copyright,
#site-footer ul.footer-menu {
    text-align: center;
  }
}
/* -------------------------------------------------
  max-width: 480px
---------------------------------------------------*/
@media only screen and (max-width: 480px) {
  .navbar-brand img {
    max-width: 200px;
  }

  .navbar-nav {
    border-right: 0 none;
    width: 100%;
  }
}
